p.p1{color:#312739;
font-size:34px}
p.p2{color:#312739;
font-size:34px}
p {background:	#E3DED1;
color:#942536;
text-shadow: #D8AAB1 0 0 10px;
font-size:40px;
margin-top:10px
}

div.col-md-12{opacity:0.9}